.counter {
  height: 100vh;
  box-sizing: border-box;
  padding: rythm-units(4) rythm-units(1);
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include desktop {
    padding: rythm-units-desktop(4) rythm-units-desktop(1);
  }

  &::before {
    @include pseudo;

    background-color: $c-light-grey;
    height: 100%;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  &__circle {
    height: 80vw;
    width: 80vw;
    display: flex;
    margin: rythm-units(1) auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: map-get($ms, 2);
    text-transform: uppercase;
    line-height: 1;

    @include desktop {
      margin: rythm-units-desktop(1) auto;
      height: 50vmin;
      width: 50vmin;
    }

    &::before {
      @include pseudo;

      width: 80vw;
      height: 80vw;
      background-color: $c-green-bright;
      z-index: -1;
      border-radius: 100%;
      border: 10px solid $c-green;
      box-sizing: border-box;

      @include desktop {
        border: 20px solid $c-green;
        height: 50vmin;
        width: 50vmin;
      }
    }
  }

  &__number {
    font-size: map-get($ms, 4);
    height: map-get($ms, 4);
    overflow: hidden;

    @include tablet {
      font-size: map-get($ms, 5);
      height: map-get($ms, 5);
    }
  }

  &__item {
    height: map-get($ms, 4);
    display: block;
    position: relative;
    top: -100%;

    @include tablet {
      height: map-get($ms, 5);
    }

    &--translate {
      animation-name: counter;
      animation-duration: 250ms;
    }
  }

  &__post {
    font-size: map-get($ms, _1);
    text-transform: uppercase;
    max-width: 15rem;
    display: inline-block;
    line-height: 1.12;

    @include desktop {
      margin-top: rythm-units-desktop(1);
    }
  }
}

.noJS {
  .counter {
    &__number--JS {
      display: none;
    }

    &__post {
      max-width: 14rem;
      @include desktop {
        max-width: 20rem;
      }
     &--JS {
      display: none;
    }
    }
  }
}
