.counter {
  height: 100vh;
  box-sizing: border-box;
  padding: rythm-units(4) rythm-units(1);
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &::before {
    @include pseudo;

    background-color: $c-light-grey;
    height: 100%;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  &__count {
    font-weight: 700;
  }

  &__circle {
    height: 80vw;
    width: 80vw;
    display: flex;
    margin: rythm-units(1) auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: map-get($ms, 3);
    text-transform: uppercase;
    line-height: 0.9;

    &::before {
      @include pseudo;

      width: 80vw;
      height: 80vw;
      background-color: $c-green-bright;
      z-index: -1;
      border-radius: 100%;
    }
  }

  &__number {
    display: block;
    font-size: map-get($ms, 6);
    height: map-get($ms, 6);
    overflow: hidden;
  }

  &__item {
    height: map-get($ms, 6);
    display: block;
    transform: translateY(-100%);
    transition: transform 250ms;

    &--translate {
      transform: translateY(0);
    }
  }

  &__post {
    text-transform: uppercase;
    max-width: 12rem;
    display: inline-block;
    line-height: 1.12;
  }
}
