@keyframes moving {
  0% {
    transform: translate(0, 40%);
  }

  10% {
    transform: translate(10%, 30%);
  }

  20% {
    transform: translate(5%, 25%);
  }

  30% {
    transform: translate(20%, 20%);
  }

  40% {
    transform: translate(5%, 15%);
  }

  50% {
    transform: translate(20%, 40%);
  }

  60% {
    transform: translate(30%, 10%);
  }

  70% {
    transform: translate(5%, 25%);
  }

  80% {
    transform: translate(30%, 20%);
  }

  90% {
    transform: translate(20%, 10%);
  }

  100% {
    transform: translate(0, 30%);
  }
}

@keyframes movingAlt {
  0% {
    transform: translate(0.5%, 0%);
  }

  50% {
    transform: translate(5%, 1.5%);
  }

  100% {
    transform: translate(1%, 1.5%);
  }
}

.data {
  border-radius: 100%;
  width: 80vw;
  height: 80vw;
  background-color: $c-dark-grey;
  position: relative;
  margin: rythm-units(2) auto 0 auto;

  @include desktop {
    width: 60vmin;
    height: 60vmin;
    margin: rythm-units-desktop(3) auto 0 auto;
    cursor: pointer;
  }

  &:focus {
    outline: none;

    &::before {
      content: "";
      display: block;
      height: calc(100% + 8px);
      width: calc(100% + 8px);
      position: relative;
      left: -6px;
      top: -6px;
      border-radius: 100%;
      border: 2px solid $c-dark-grey;
      z-index: -1;
    }
  }

  &--green {
    background-color: $c-green-bright;
  }

  &--middleGrey {
    background-color: $c-middle-grey;
  }

  &--animate {
    position: absolute;
    margin: 0;
    top: 5%;
    left: 20%;
    animation-iteration-count: infinite;
    animation-name: moving;
    animation-direction: alternate;
    animation-duration: 40s;
  }

  &--animateAlt {
    animation-name: movingAlt;
  }

  &--reverse {
    animation-direction: alternate-reverse;
  }
}

// Production

@include desktop {
  .data[data-stats="2050"] {
    margin-right: 0;
  }

  .data[data-stats="year"] {
    margin-left: 0;
  }
}

.data[data-stats="2050"],
.data[data-stats="year"],
.data[data-stats="yearBis"] {
  &::after {
    content: "Cliquez sur les cercles pour afficher les informations";
    position: absolute;
    justify-content: center;
    max-width: 12rem;
    text-align: center;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin: 0 auto;
    line-height: 1.1;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.data[data-stats="2019"] {
  height: calc(100% / 4);
  width: calc(100% / 4);
  top: 20%;
  left: 15%;
}

.data[data-stats="2000"] {
  height: calc(100% / 8);
  width: calc(100% / 8);
  top: 65%;
  left: 60%;
}

.data[data-stats="unique"] {
  height: 50%;
  width: 50%;
  animation-duration: 120s;

  &::before {
    border-color: #fff;
  }
}

.data[data-stats="packaging"] {
  height: 42%;
  width: 42%;
  animation-duration: 80s;
}

.data[data-stats="waste"] {
  height: 80%;
  width: 80%;
  left: 4%;
  animation-duration: 30s;
}

.data[data-stats="recycled"] {
  height: 20%;
  width: 20%;
  top: 60%;
  animation-duration: 10s;
}

.data[data-stats="nature"] {
  height: 55%;
  width: 55%;
  animation-duration: 5s;
}

.data[data-stats="ocean"] {
  height: 10%;
  width: 10%;
  top: 40%;
  left: 65%;
  animation-duration: 30s;

  &::before {
    border-color: $c-green;
  }
}

.infos {
  position: relative;

  &__item {
    background-color: $c-green;
    padding: rythm-units(1);
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;

    @include desktop {
      padding: rythm-units-desktop(1);
      width: rythm-units-desktop(10);
      bottom: rythm-units-desktop(2);
      top: initial;
      margin: 0 auto;
    }

    &--active {
      display: inline-block;
      visibility: visible;
      opacity: 1;
    }
  }

  &__number {
    font-weight: 700;
    text-transform: uppercase;
  }

  &__button {
    position: absolute;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url(../assets/images/cross.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: top right;
    background-size: 50%;
    width: rythm-units(1);
    height: rythm-units(1);
    outline: none;
    border: none;
    padding: 0;
    top: rythm-units(0.5);
    right: rythm-units(0.5);

    @include desktop {
      cursor: pointer;
    }
  }
}

.noJS {
  .data {
    display: none;
  }
}
