@keyframes moving {
  0% {
    transform: translate(0, 40%);
  }

  10% {
    transform: translate(10%, 30%);
  }

  20% {
    transform: translate(5%, 25%);
  }

  30% {
    transform: translate(20%, 20%);
  }

  40% {
    transform: translate(5%, 15%);
  }

  50% {
    transform: translate(20%, 40%);
  }

  60% {
    transform: translate(30%, 10%);
  }

  70% {
    transform: translate(5%, 25%);
  }

  80% {
    transform: translate(30%, 20%);
  }

  90% {
    transform: translate(20%, 10%);
  }

  100% {
    transform: translate(0, 30%);
  }
}

.data {
  border-radius: 100%;
  width: 80vw;
  height: 80vw;
  background-color: $c-green;
  position: relative;
  margin: rythm-units(2) auto 0 auto;

  &--darkGrey {
    background-color: $c-dark-grey;
  }

  &--middleGrey {
    background-color: $c-middle-grey;
  }
}

// Production
.data[data-stats="2019"] {
  height: calc(100% / 6);
  width: calc(100% / 6);
  position: absolute;
  top: 20%;
  left: 15%;
  margin: 0;
  animation-name: moving;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.data[data-stats="1950"] {
  height: calc(100% / 12);
  width: calc(100% / 12);
  position: absolute;
  top: 65%;
  right: 30%;
  margin: 0;
  animation-name: moving;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.data[data-stats="1950"] {
  height: calc(100% / 12);
  width: calc(100% / 12);
  position: absolute;
  top: 65%;
  right: 30%;
  margin: 0;
  animation-name: moving;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.data[data-stats="unique"] {
  height: 50%;
  width: 50%;
  position: absolute;
  top: 5%;
  right: 30%;
  margin: 0;
  animation-name: moving;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.data[data-stats="packaging"] {
  height: 50%;
  width: 50%;
  position: absolute;
  bottom: 30%;
  left: 20%;
  margin: 0;
  animation-name: moving;
  animation-duration: 80s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.infos {
  margin: 0;
  padding: 0;

  &__item {
    background-color: $c-light-grey;
    padding: rythm-units(1);
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;

    &--active {
      display: inline-block;
      visibility: visible;
      opacity: 1;
    }
  }

  &__title {
    font-size: map-get($ms, _1);
    line-height: 1.12;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 0;
    margin-bottom: rythm-units(1);

    &::after {
      content: "";
      display: block;
      height: 2px;
      width: rythm-units(0.5);
      background-color: $c-dark-grey;
      margin-top: rythm-units(0.25);
    }
  }

  p {
    line-height: 1;
  }

  &__number {
    text-transform: uppercase;
  }

  &__small {
    font-size: map-get($ms, _1);
    max-width: 15rem;
    display: block;
    line-height: 1.12;
  }

  &__button {
    position: absolute;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url(../assets/images/cross.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: top right;
    background-size: 50%;
    width: rythm-units(1);
    height: rythm-units(1);
    outline: none;
    border: none;
    padding: 0;
    top: rythm-units(0.5);
    right: rythm-units(0.5);
  }
}

.instruction {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: map-get($ms, _1);
  max-width: 15rem;
  margin: rythm-units(1) auto 0 auto;
  line-height: 1.12;
}

.use {
  .infos__item {
    background-color: #fff;
  }
}
