.data {
  border-radius: 100%;
  width: 80vmin;
  height: 80vmin;
  background-color: $c-dark-grey;
  position: relative;
  margin: rythm-units(3) auto 0 auto;

  @include tablet {
    margin: rythm-units(4) auto 0 auto;
    width: 65vmin;
    height: 65vmin;
  }

  @include desktop {
    width: 60vmin;
    height: 60vmin;
    margin: rythm-units-desktop(4) auto 0 auto;
    cursor: pointer;

    + .tiny {
      margin-top: rythm-units-desktop(2);
      width: 60vmin;
      max-width: initial;
    }
  }

  &::before {
    content: "";
    display: block;
    height: calc(100% + 8px);
    width: calc(100% + 8px);
    position: relative;
    left: -6px;
    top: -6px;
    border-radius: 100%;
    border: 2px solid $c-dark-grey;
    opacity: 0;
    transition: opacity 300ms;
  }

  &:focus {
    outline: none;

    &::before {
      opacity: 1;
    }
  }

  &--hover {
    &::before {
      opacity: 1;
    }
  }

  &--green {
    background-color: $c-green-bright;
  }

  &--middleGrey {
    background-color: $c-middle-grey;
  }

  &--animate {
    position: absolute;
    margin: 0;
    top: 5%;
    left: 20%;
    animation-iteration-count: infinite;
    animation-name: dataMoving;
    animation-direction: alternate;
    animation-duration: 40s;
  }

  &--animateAlt {
    animation-name: dataMovingAlt;
  }

  &--reverse {
    animation-direction: alternate-reverse;
  }

  &[data-stats="2019"] {
    height: calc(100% / 4);
    width: calc(100% / 4);
    top: 20%;
    left: 15%;
  }

  &[data-stats="2000"] {
    height: calc(100% / 8);
    width: calc(100% / 8);
    top: 65%;
    left: 60%;
  }

  &[data-stats="unique"] {
    height: 50%;
    width: 50%;
    animation-duration: 120s;

    &::before {
      border-color: #fff;
    }
  }

  &[data-stats="packaging"] {
    height: 42%;
    width: 42%;
    animation-duration: 80s;
  }

  &[data-stats="waste"] {
    height: 80%;
    width: 80%;
    left: 4%;
    animation-duration: 30s;
  }

  &[data-stats="recycled"] {
    height: 20%;
    width: 20%;
    top: 60%;
    animation-duration: 10s;
  }

  &[data-stats="nature"] {
    height: 55%;
    width: 55%;
    animation-duration: 5s;
  }

  &[data-stats="ocean"] {
    height: 10%;
    width: 10%;
    top: 40%;
    left: 65%;
    animation-duration: 30s;

    &::before {
      border-color: $c-green;
    }
  }

  &[data-stats="2050"] {
    margin-right: 0;

    @include desktop {
      + .tiny {
        margin-right: 0;
      }
    }
  }

  &[data-stats="year"] {
    @include desktop {
      margin-top: rythm-units-desktop(7);
    }
  }

  &[data-stats="yearBis"] {
    @include desktop {
      margin-top: rythm-units-desktop(6);
      margin-left: 0;

      + .tiny {
        margin-left: 0;
      }
    }
  }

  + .tiny {
    margin-top: rythm-units(1);

    @include desktop {
      margin-top: rythm-units-desktop(1.5);
    }
  }
}

.noJS {
  .data {
    display: none;
  }
}
