.menu {
  &__button {
    background-image: url(../assets/images/menu.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100%;
    width: 1rem;
    height: 1rem;
    text-indent: 100%;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: rythm-units(1);
    right: rythm-units(1);
    outline: 0;
    border: 0;
  }
}
