.infos {
  &__item {
    background-color: $c-green;
    padding: rythm-units(1);
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    transition: opacity 300ms;

    @include tablet {
      margin: 0 auto;
      top: initial;
      bottom: rythm-units(1);
      width: rythm-units(10);
    }

    @include desktop {
      padding: rythm-units-desktop(1);
      width: rythm-units-desktop(10);
      bottom: rythm-units-desktop(3);
    }

    &--active {
      visibility: visible;
      opacity: 1;
    }

    &--leaving {
      visibility: visible;
      opacity: 0;
    }

    &--noTransition {
      transition: initial;
    }
  }

  &__number {
    font-weight: 700;
    text-transform: uppercase;
  }
}

.noJS {
  .infos {
    margin-top: rythm-units(2);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: rythm-units(1);

    @include tablet {
      margin-top: rythm-units(3);
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: rythm-units(1);
    }

    @include desktop {
      margin-top: rythm-units-desktop(5);
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: rythm-units-desktop(1);
      grid-row-gap: rythm-units-desktop(1);
    }

    &__item {
      box-sizing: border-box;
      position: initial;
      visibility: visible;
      opacity: 1;

      @include tablet {
        width: 100%;
      }
    }
  }
}
