.menu {
  @include desktop {
    position: absolute;
    top: rythm-units-desktop(1);
    right: 0;
  }

  &__button {
    background-image: url(../assets/images/menu.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: rythm-units(1);
    background-position: center;
    width: rythm-units(3);
    height: rythm-units(3);
    text-indent: 100%;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    outline: 0;
    border: 0;
    z-index: 2;
    transition: transform 400ms;

    @include desktop {
      display: none;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: rythm-units(3) 0;
    width: 100vw;
    background-color: $c-green;
    top: 0;
    left: 0;
    z-index: 1;
    transition: transform 250ms;
    transform: translateY(-100%);
    border-bottom: 10px solid #fff;

    @include tablet {
      padding: rythm-units(4) 0;
    }

    @include desktop {
      padding: initial;
      background-color: unset;
      border: unset;
      flex-direction: row;
      position: initial;
      width: initial;
      transform: initial;
    }
  }

  &__item {
    text-align: center;
    font-size: map-get($ms, 2);

    @include desktop {
      font-size: map-get($ms, 0);
    }

    &:not(:last-child) {
      margin-bottom: rythm-units(1);

      @include desktop {
        margin-bottom: 0;
        margin-right: rythm-units-desktop(3);
      }
    }
  }
}

.noJS {
  .menu {
    &__button {
      display: none;
    }
  }
}

.menuOpen {
  overflow: hidden;

  .menu {
    &__container {
      transform: translateY(0);
    }

    &__button {
      background-image: url(../assets/images/cross.svg);
      transform: rotateX(180deg);
    }
  }
}
