.quote {
  margin: rythm-units(2) 0 0 0;
  width: calc(100vw - 27px);
  background-color: $c-light-grey;

  &__image {
    height: rythm-units(9);
    width: 100%;
    object-fit: cover;
    display: block;
  }

  &__block {
    font-size: map-get($ms, 1);
    font-weight: 600;
    padding: rythm-units(2) rythm-units(1.5) rythm-units(3) rythm-units(2.5);
    margin: 0;
    position: relative;
    overflow-y: hidden;
    width: 100vw;
    left: -27px;
    box-shadow: inset 27px -27px 0 0 #fff;
    box-sizing: border-box;

    &::before {
      @include pseudo;

      height: 150vw;
      width: 150vw;
      left: -70%;
      top: 20%;
      bottom: 0;
      background-color: $c-green-bright;
      border-radius: 100%;
    }
  }

  &__content {
    margin-bottom: rythm-units(1);
    line-height: 1.6;
    position: relative;
    z-index: 2;

    &::before {
      content: "\201C";
      margin-left: -19px;
    }

    &::after {
      content: "\201D";
    }
  }

  &__author {
    font-style: normal;
    position: relative;
    z-index: 2;
  }
}
