.quote {
  margin: rythm-units(2) 0 0 0;
  width: calc(100vw - 26.1px);

  @include desktop {
    margin: rythm-units-desktop(4) 0 0 0;
    width: 100%;
    position: relative;
  }

  &__image {
    height: rythm-units(9);
    width: 100%;
    object-fit: cover;
    object-position: right;
    display: block;

    @include desktop {
      height: rythm-units-desktop(16);
    }
  }

  &__block {
    font-size: map-get($ms, 1);
    font-weight: 600;
    padding: rythm-units(2) rythm-units(2) rythm-units(3) rythm-units(2);
    margin: 0;
    position: relative;

    @include desktop {
      margin-top: rythm-units-desktop(-1);
      left: 0;
      // overflow: visible;
      position: initial;
      width: 100%;
      box-shadow: none;
    }

    &::before {
      @include pseudo;

      height: 100%;
      width: 100%;
      background-color: $c-light-grey;
      top: rythm-units(-1);
      left: 0;
      z-index: -1;

      @include desktop {
        width: 100vw;
        left: 50%;
        top: 0;
        bottom: 0;
        height: calc(100% - 435px);
        margin-top: auto;
        transform: translateX(-50%);
      }
    }
  }

  &__content {
    margin-bottom: rythm-units(1);
    position: relative;
    z-index: 1;

    @include desktop {
      text-align: center;
      margin: 0 auto;
      padding: rythm-units-desktop(2) 0;
      max-width: 37rem;
      box-sizing: border-box;
    }

    &::before {
      content: "\201C";
      margin-left: -17px;
    }

    &::after {
      content: "\201D";
    }
  }

  &__author {
    font-style: normal;
    position: relative;
    line-height: 1.275;
    display: block;
    z-index: 1;

    @include desktop {
      margin: 0 auto;
      text-align: center;
    }
  }

  &__doc {
    margin-left: 23px;

    @include desktop {
      text-indent: 0;
    }
  }
}
