.quote {
  margin: rythm-units(2) 0 0 0;

  @include tablet {
    margin: rythm-units(3) 0 0 0;
  }

  @include desktop {
    margin: rythm-units-desktop(5) 0 0 0;
  }

  &__image {
    height: rythm-units(10);
    width: 100%;
    object-fit: cover;
    object-position: right;
    display: block;

    @include tablet {
      height: rythm-units(16);
    }

    @include desktop {
      height: rythm-units-desktop(16);
    }
  }

  &__block {
    font-size: map-get($ms, 1);
    font-weight: 600;
    padding: rythm-units(3) rythm-units(1.5) rythm-units(2) rythm-units(2);
    margin: rythm-units(-1) 0 0 0;
    position: relative;

    @include tablet {
      padding: rythm-units(4) rythm-units(2.5) rythm-units(3) rythm-units(3);
    }

    @include desktop {
      padding: rythm-units-desktop(3) rythm-units-desktop(2) rythm-units-desktop(4) rythm-units-desktop(2);
      margin-top: rythm-units-desktop(-1);
    }

    &::before {
      @include pseudo;

      height: 100%;
      width: 100vw;
      transform: translateX(-50%);
      left: 50%;
      background-color: $c-light-grey;
      top: 0;
      z-index: -1;
    }
  }

  &__content {
    margin-bottom: rythm-units(1);

    @include tablet {
      max-width: 25rem;
    }

    @include desktop {
      text-align: center;
      margin: 0 auto;
      padding: rythm-units-desktop(2) 0;
      max-width: 37rem;
    }

    &::before {
      content: "\201C";
      margin-left: -17px;
    }

    &::after {
      content: "\201D";
    }
  }

  &__author {
    font-style: normal;
    line-height: 1.275;
    display: block;

    @include desktop {
      text-align: center;
    }
  }

  &__doc {
    margin-left: 23px;

    @include desktop {
      margin-left: 0;
    }
  }
}
