@function rythm-units($number) {
  @return $unit-value * $number;
}

@function rythm-units-desktop($number) {
  @return $unit-value-desktop * $number;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  @include desktop {
    overflow-x: hidden;
  }
}

.section {
  position: relative;
  overflow: hidden;
  padding: rythm-units(3) rythm-units(1);

  @include tablet {
    padding: rythm-units(4) rythm-units(3);
  }

  @include desktop {
    width: 80vw;
    max-width: 1280px;
    margin: 0 auto;
    overflow: visible;
    padding: rythm-units-desktop(5) rythm-units-desktop(1);
  }

  &--bg::before {
    @include pseudo;

    background-color: $c-light-grey;
    height: 100%;
    width: 100vw;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &--header {
    @include desktop {
      padding: rythm-units-desktop(6) 0;
    }

    @include desktopXL {
      padding: rythm-units-desktop(6) 0 rythm-units-desktop(6) rythm-units-desktop(5);
    }

    &::before {
      background-color: $c-green-bright;
      width: 100vw;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
      top: initial;
      bottom: 0;
      border-bottom: 10px solid $c-green;

      @include desktop {
        border-bottom: 20px solid $c-green;
      }
    }
  }

  &--darkGrey {
    color: #fff;

    @include desktop {
      padding-top: rythm-units-desktop(4);
      padding-bottom: rythm-units-desktop(4);
      display: flex;
      justify-content: space-between;
    }

    &::before {
      background-color: $c-dark-grey;
    }
  }

  &--today {
    padding-top: rythm-units(2);
    padding-bottom: 0;

    @include desktop {
      padding-top: rythm-units-desktop(4);
    }
  }
}

.side {
  @include desktop {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: rythm-units-desktop(3);
    align-items: center;

    p {
      margin-top: rythm-units-desktop(5);
      margin-right: rythm-units-desktop(2);
    }
  }
}

.pic {
  display: block;
  margin: rythm-units(2) 0 rythm-units(2) rythm-units(-1);
  object-fit: cover;

  @include desktop {
    margin: 0 0 0 auto;
    height: rythm-units-desktop(22);
  }

  &--bags {
    width: 80%;

    @include tablet {
      width: 60%;
      margin-left: rythm-units(-3);
    }

    @include desktop {
      width: 45%;
      height: 100%;
      margin-left: 0;
    }
  }

  &--animal {
    width: 100%;
    margin: rythm-units(2) 0 rythm-units(0) rythm-units(1);

    @include tablet {
      height: rythm-units(14);
      margin: rythm-units(2) auto 0 auto;
    }

    @include desktop {
      height: rythm-units-desktop(20);
      margin: rythm-units-desktop(3) 0 0 0;
      object-position: 50% 60%;
    }
  }
}

.footer {
  position: relative;
  z-index: 2;
}

.footerMenu {
  margin-bottom: rythm-units(2);

  @include desktop {
    margin-bottom: 0;
  }

  &__item {
    text-align: center;

    @include desktop {
      text-align: left;
    }

    &:not(:last-child) {
      margin-bottom: rythm-units(1);

      @include desktop {
        margin-bottom: rythm-units-desktop(1);
      }
    }
  }

  + .tiny {
    line-height: 1.5;
    letter-spacing: 0.5px;

    @include desktop {
      margin: 0;
      align-self: flex-end;
      text-align: right;
    }
  }
}
