@function rythm-units($number) {
  @return $unit-value * $number;
}

@function rythm-units-desktop($number) {
  @return $unit-value-desktop * $number;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  position: relative;
  padding: rythm-units(3) rythm-units(1);

  @include tablet {
    padding: rythm-units(4) rythm-units(3);
  }

  @include desktop {
    width: 80vw;
    max-width: 1280px;
    margin: 0 auto;
    padding: rythm-units-desktop(6) rythm-units-desktop(1);
  }

  &--bg::before {
    @include pseudo;

    background-color: $c-light-grey;
    height: 100%;
    width: 100vw;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &--header {
    @include tablet {
      padding: rythm-units(5) rythm-units(3);
    }

    @include desktop {
      padding: rythm-units-desktop(6) 0;
    }

    @include desktopXL {
      padding: rythm-units-desktop(6) 0 rythm-units-desktop(6) rythm-units-desktop(5);
    }

    &::before {
      background-color: $c-green-bright;
      top: initial;
      bottom: 0;
      border-bottom: 10px solid $c-green;

      @include desktop {
        border-bottom: 20px solid $c-green;
      }
    }
  }

  &--darkGrey {
    color: #fff;

    @include desktop {
      padding-top: rythm-units-desktop(4);
      padding-bottom: rythm-units-desktop(4);
      display: flex;
      justify-content: space-between;
    }

    &::before {
      background-color: $c-dark-grey;
    }
  }

  &--today {
    padding-top: rythm-units(2);
    padding-bottom: 0;

    @include tablet {
      padding-top: rythm-units(3);
    }

    @include desktop {
      padding-top: rythm-units-desktop(5);
    }
  }

  &--textBased {
    @include tablet {
      padding: rythm-units(4) rythm-units(1);
      width: 70vw;
      max-width: 28rem;
      margin: 0 auto;
    }

    @include desktop {
      padding: rythm-units-desktop(6) rythm-units-desktop(1);
      max-width: 34rem;
    }
  }
}

.side {
  @include desktop {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }

  .bigText {
    margin-bottom: rythm-units(1);

    @include desktop {
      margin-bottom: rythm-units-desktop(1);
    }
  }

  &__text {
    @include desktop {
      margin-right: rythm-units-desktop(3);
    }

    @include desktopXL {
      margin-top: rythm-units-desktop(8);
    }
  }
}

.pic {
  display: block;
  margin: rythm-units(2.5) 0 rythm-units(3) rythm-units(-1);
  object-fit: cover;

  @include tablet {
    margin: rythm-units(3.5) 0 rythm-units(3) rythm-units(-1);
  }

  @include desktop {
    margin: 0 0 0 auto;
    height: rythm-units-desktop(22);
  }

  &--bags {
    width: 80%;

    @include tablet {
      width: 60%;
      margin-right: rythm-units(-3);
      margin-left: auto;
    }

    @include desktop {
      width: 45%;
      height: 100%;
      margin-right: 0;
    }
  }

  &--animal {
    width: 100%;
    margin: rythm-units(2) 0 rythm-units(0) rythm-units(1);
    height: rythm-units(9);

    @include tablet {
      height: rythm-units(14);
      margin: rythm-units(3) auto 0 auto;
    }

    @include desktop {
      height: rythm-units-desktop(19);
      margin: rythm-units-desktop(4) 0 0 0;
      object-position: 50% 60%;
    }
  }
}
