@function rythm-units($number) {
  @return $unit-value * $number;
}

@function rythm-units-desktop($number) {
  @return $unit-value-desktop * $number;
}

body {
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  position: relative;
  overflow: hidden;
  padding: rythm-units(2) rythm-units(1);
  box-sizing: border-box;

  @include desktop {
    overflow: visible;
    padding: rythm-units-desktop(5) rythm-units-desktop(1);
  }

  &:not(.section--header)::before {
    @include pseudo;

    height: 100%;
    width: 100vw;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &--grey {
    &::before {
      background-color: $c-light-grey;
    }
  }

  &--darkGrey {
    color: #fff;
    padding-top: rythm-units(3);
    padding-bottom: rythm-units(3);

    &::before {
      background-color: $c-dark-grey;
    }

    @include desktop {
      padding-top: rythm-units-desktop(4);
      padding-bottom: rythm-units-desktop(4);
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &--header {
    padding-top: rythm-units(3);

    @include desktop {
      padding:
        rythm-units-desktop(6) 0 rythm-units-desktop(6)
        rythm-units-desktop(5);
      overflow: visible;
    }

    &::before {
      @include pseudo;

      background-color: $c-green-bright;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -2;

      @include desktop {
        width: 140vw;
        height: 170%;
        left: 50%;
        transform: translateX(-55%);
        border-radius: 100%;
        top: calc(-70% - 40px);
        border: 20px solid $c-green;
      }
    }
  }

  &--today {
    padding-bottom: 0;

    @include desktop {
      overflow: initial;
    }
  }

  @include desktop {
    width: 80vw;
    max-width: 1280px;
    margin: 0 auto;
  }
}

.circlePic {
  position: relative;

  &::before {
    @include pseudo;

    border-radius: 100%;
    top: -45%;
    right: -35%;
    height: 100vw;
    width: 100vw;
    z-index: -1;
    background-color: $c-green-bright;

    @include desktop {
      display: none;
    }
  }
}

.pic {
  position: relative;
  display: block;
  margin: rythm-units(2) 0 rythm-units(2) rythm-units(-1);

  &--right {
    margin: rythm-units(2) 0 rythm-units(2) rythm-units(1);

    @include desktop {
      height: 500px;
      margin: rythm-units-desktop(3) 0 rythm-units-desktop(3) 0;
    }
  }
}

.footer {
  position: relative;
  z-index: 2;
}

.footerMenu {
  &__item {
    text-align: center;

    @include desktop {
      text-align: left;
    }

    &:not(:last-child) {
      margin-bottom: rythm-units(1);
    }

    &:last-child {
      margin-bottom: rythm-units(2);

      @include desktop {
        margin-bottom: 0;
      }
    }
  }

  + .tiny {
    line-height: 1.5;
    letter-spacing: 0.5px;

    @include desktop {
      margin: 0;
      align-self: flex-end;
      text-align: right;
    }
  }
}
