@function rythm-units($number) {
  @return $unit-value * $number;
}

body {
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  position: relative;
  overflow: hidden;
  padding: rythm-units(2) rythm-units(1);

  &:not(.section--header)::before {
    @include pseudo;

    height: 100%;
    width: 100vw;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &--grey {
    &::before {
      background-color: $c-light-grey;
    }
  }

  &--darkGrey {
    color: #fff;
    padding-top: rythm-units(3);
    padding-bottom: rythm-units(3);

    &::before {
      background-color: $c-dark-grey;
    }
  }

  &--header {
    padding-top: rythm-units(3);

    &::before {
      @include pseudo;

      background-color: $c-green-bright;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -2;
    }
  }

  &--today {
    padding-bottom: 0;
  }
}

.circlePic {
  position: relative;

  &::before {
    @include pseudo;

    border-radius: 100%;
    top: -45%;
    right: -35%;
    height: 100vw;
    width: 100vw;
    z-index: -1;
    background-color: $c-green-bright;
  }
}

.pic {
  position: relative;
  display: block;
  margin: rythm-units(2) 0 rythm-units(2) rythm-units(-1);

  &--right {
    margin: rythm-units(2) 0 rythm-units(2) rythm-units(1);
  }
}

.footer {
  position: relative;
  z-index: 2;
}

.footerMenu {
  &__item {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: rythm-units(1);
    }

    &:last-child {
      margin-bottom: rythm-units(2);
    }
  }

  + .tiny {
    line-height: 1.5;
    letter-spacing: 0.5px;
  }
}
