@function rythm-units($number) {
  @return $unit-value * $number;
}

body {
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  position: relative;
  padding: rythm-units(2) rythm-units(1);

  &::before {
    @include pseudo;

    height: 100%;
    width: 100vw;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &--grey {
    &::before {
      background-color: $c-light-grey;
    }
  }

  &--darkGrey {
    color: #fff;
    padding-top: rythm-units(3);
    padding-bottom: rythm-units(3);

    &::before {
      background-color: $c-dark-grey;
    }
  }
}

.plasticImg {
  position: relative;

  &::before {
    @include pseudo;

    border-radius: 100%;
    top: -35%;
    right: -35%;
    height: 100vw;
    width: 100vw;
    z-index: -1;
    background-color: $c-green-bright;
  }

  &__item {
    display: block;
    margin: rythm-units(2) 0 rythm-units(2) rythm-units(-1);
  }
}

.today {
  padding-bottom: 0;
}

.use {
  overflow-x: hidden;
}

.animalsImg {
  display: block;
  margin-top: rythm-units(2);
  margin-bottom: rythm-units(2);
  margin-left: rythm-units(1);
}

.footerMenu {
  &__item {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: rythm-units(1);
    }

    &:last-child {
      margin-bottom: rythm-units(2);
    }
  }
}
