@font-face {
  font-family: "Source Sans";
  src:
    url("../assets/fonts/SourceSansVariable-Roman.ttf.woff") format("woff"),
    url("../assets/fonts/SourceSansVariable-Roman.ttf.woff2") format("woff2");
  font-weight: 1 999;
}

html {
  font-size: $text-size;

  @include desktop {
    font-size: $text-size-desktop;
  }
}

body {
  font-family: Source Sans, sans-serif;
  line-height: $leading;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "liga", "clig";
  -webkit-font-feature-settings: "liga", "clig";
  font-feature-settings: "liga", "clig";
  color: $c-dark-grey;

  @include desktop {
    line-height: $leading-desktop;
  }
}

p {
  margin: 0;
  max-width: 28rem;
}

.oldStyle {
  font-variant-numeric: oldstyle-nums;
  -moz-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum";
}

.fraction {
  font-variant-numeric: diagonal-fractions;
  -moz-font-feature-settings: "frac";
  -webkit-font-feature-settings: "frac";
  font-feature-settings: "frac";
}

.lineBreak {
  display: block;

  &--notDesktop {
    display: initial;
  }
}

.hyphenated {
  &::after {
    content: "-";
  }
}

.bigText {
  font-size: map-get($ms, 1);
  line-height: 1.4;
  max-width: 34rem;

  &--right {
    text-align: right;

    @include desktop {
      margin-left: auto;
      margin-right: rythm-units-desktop(4);
    }
  }
}

.tiny {
  font-size: map-get($ms, _1);
  max-width: 12rem;
  line-height: 0.9;
  display: block;

  &--center {
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
  }
}

.title {
  font-size: map-get($ms, 3);
  line-height: 0.95;
  font-weight: 700;
  margin: 0 0 rythm-units(1) 0;

  @include desktop {
    font-size: map-get($ms, 4);
    margin: 0 0 rythm-units-desktop(2) 0;
  }

  &::after {
    content: "";
    display: block;
    margin-top: rythm-units(0.5);
    height: 6px;
    width: rythm-units(1);
    background-color: $c-green-bright;

    @include desktop {
      margin-top: rythm-units-desktop(1);
      height: 7px;
    }
  }

  &--headline {
    line-height: 1.1;
    margin: 0;
    font-size: 9.5vw;
    position: relative;
    padding-bottom: rythm-units(3);
    margin-bottom: rythm-units(2);

    @include desktop {
      font-size: map-get($ms, 4);
      padding: 0;
    }

    &::before {
      @include pseudo;

      border-radius: 100%;
      height: 200vw;
      width: 200vw;
      background-color: #fff;
      bottom: 0;
      left: 40%;
      transform: translateX(-50%);
      z-index: -1;
      border: 10px solid $c-green;

      @include desktop {
        display: none;
      }
    }

    &::after {
      display: none;
    }
  }

  &--small {
    font-size: map-get($ms, _1);
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    &::after {
      height: 2px;
      width: rythm-units(0.5);
      background-color: $c-dark-grey;
      margin-top: rythm-units(0.25);
    }
  }
}

.link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;

  &:focus {
    outline: 2px solid $c-green-bright;
    outline-offset: 6px;
  }

  @include desktop {
    &:hover {
      color: $c-green-bright;
    }
  }

  &--green {
    color: $c-green;

    @include desktop {
      &:hover {
        color: $c-middle-grey;
      }
    }
  }
}

::selection {
  background-color: $c-dark-grey;
  color: #fff;
}
