@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "Source Sans";
    src: url("../assets/fonts/SourceSansVariable-Roman.ttf.woff2") format("woff2"), url("../assets/fonts/SourceSansVariable-Roman.ttf.woff") format("woff");
    font-weight: 1 999;
    font-style: normal;
    font-display: swap;
  }
}

@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: "Source Sans";
    src: url("../assets/fonts/SourceSansPro-Regular.otf.woff2") format("woff2"), url("../assets/fonts/SourceSansPro-Regular.otf.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Source Sans";
    src: url("../assets/fonts/SourceSansPro-Semibold.otf.woff2") format("woff2"), url("../assets/fonts/SourceSansPro-Semibold.otf.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Source Sans";
    src: url("../assets/fonts/SourceSansPro-Bold.otf.woff2") format("woff2"), url("../assets/fonts/SourceSansPro-Bold.otf.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}

html {
  font-size: $text-size;

  @include desktop {
    font-size: $text-size-desktop;
  }
}

body {
  font-family: Source Sans, sans-serif;
  line-height: $leading;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "liga", "clig";
  -webkit-font-feature-settings: "liga", "clig";
  font-feature-settings: "liga", "clig";
  color: $c-dark-grey;
}

p {
  margin: 0;
  max-width: 28rem;
}

strong {
  font-weight: 700;
}

.textRight {
  @include desktop {
    margin-left: auto;
  }
}

.bigText {
  font-size: map-get($ms, 1);
  line-height: 1.4;
  max-width: 34rem;
}

::selection {
  background-color: $c-dark-grey;
  color: #fff;
}

.oldStyle {
  font-variant-numeric: oldstyle-nums;
  -moz-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum";
}

.fraction {
  font-variant-numeric: diagonal-fractions;
  -moz-font-feature-settings: "frac";
  -webkit-font-feature-settings: "frac";
  font-feature-settings: "frac";
}

.smallCaps {
  font-variant: small-caps;
  font-feature-settings: "smcp";
}

.lineBreak {
  display: block;

  @include desktop {
    &--notDesktop {
      display: initial;
    }
  }
}

.hyphenated::after {
  content: "-";
}

.tiny {
  font-size: map-get($ms, _1);
  max-width: 12rem;
  line-height: 1.2;
  display: block;

  &--center {
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
  }
}

.title {
  font-size: map-get($ms, 4);
  line-height: 0.95;
  font-weight: 700;
  margin: 0 0 rythm-units(2) 0;

  @include desktop {
    margin: 0 0 rythm-units-desktop(3) 0;
  }

  &::after {
    content: "";
    display: block;
    margin-top: rythm-units(0.5);
    height: 7px;
    width: rythm-units(1);
    background-color: $c-green-bright;

    @include desktop {
      margin-top: rythm-units-desktop(1);
      height: 9px;
    }
  }

  &--headline {
    line-height: 1.1;
    font-size: 9.5vw;

    @include tablet {
      font-size: 7.5vw;
    }

    @include desktop {
      font-size: map-get($ms, 4);
      margin: 0 0 rythm-units-desktop(2) 0;
    }

    &::after {
      display: none;
    }
  }

  &--small {
    font-size: map-get($ms, _1);
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: rythm-units(1);

    @include desktop {
      margin-bottom: rythm-units-desktop(1);
    }

    &::after {
      height: 2px;
      width: rythm-units(0.5);
      background-color: $c-dark-grey;
      margin-top: rythm-units(0.25);
    }
  }
}

.link {
  color: #fff;
  text-decoration: none;
  font-weight: 600;

  @include desktop {
    &:hover {
      color: $c-green-bright;
      transition: color 250ms;
    }

    &:focus {
      outline: 2px solid $c-green-bright;
      outline-offset: 6px;

      &:hover {
        outline: 0;
      }
    }

    &--tooltip {
      position: relative;

      &::after {
        transition: opacity 250ms;
        opacity: 0;
        visibility: hidden;
        white-space: nowrap;
        color: $c-dark-grey;
        margin-top: rythm-units-desktop(1);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: $c-green;
        padding: rythm-units-desktop(0.5);
      }
    }

    &--dwm,
    &--heaj {
      &:focus,
      &:hover {
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &--dwm {
      &::after {
        content: "Section Design Web & Mobile";
      }
    }

    &--heaj {
      &::after {
        content: "Haute École Albert Jacquard";
      }
    }
  }

  &--grey {
    color: $c-dark-grey;

    @include desktop {
      &:focus {
        outline-color: $c-dark-grey;
      }

      &:hover {
        color: $c-middle-grey;
      }
    }
  }

  &--underline {
    display: block;
    position: relative;

    @include desktop {
      &::after {
        @include pseudo;

        bottom: rythm-units-desktop(-0.25);
        left: 0;
        display: block;
        height: 2px;
        background-color: $c-dark-grey;
        width: 50%;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 250ms;
      }

      &:hover {
        color: inherit;

        &::after {
          transform: scaleX(1);
        }
      }
    }
  }
}

.list {
  &__item {
    position: relative;

    &::before {
      content: "•";
      position: absolute;
      top: 0;
      left: rythm-units(-0.5);
    }
  }
}

body[data-page="about"] {
  p {
    margin-bottom: rythm-units(1);

    @include desktop {
      max-width: 34rem;
      margin-bottom: rythm-units-desktop(1);
    }

    &:last-child {
      margin: 0;
    }
  }

  .title {
    &--headline {
      margin-bottom: rythm-units(1);
    }
  }
}
