// // Montserrat Regular
// @font-face {
//   font-family: Montserrat;
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src:
//     url("../assets/fonts/montserrat-v13-latin-regular.woff2") format("woff2"),
//     url("../assets/fonts/montserrat-v13-latin-regular.woff") format("woff");
// }

// // Montserrat Medium
// @font-face {
//   font-family: Montserrat;
//   font-style: normal;
//   font-weight: 500;
//   font-display: swap;
//   src:
//     url("../assets/fonts/montserrat-v13-latin-500.woff2") format("woff2"),
//     url("../assets/fonts/montserrat-v13-latin-500.woff") format("woff");
// }

// // Montserrat Semi-Bold
// @font-face {
//   font-family: Montserrat;
//   font-style: normal;
//   font-weight: 600;
//   font-display: swap;
//   src:
//     url("../assets/fonts/montserrat-v13-latin-600.woff2") format("woff2"),
//     url("../assets/fonts/montserrat-v13-latin-600.woff") format("woff");
// }

// // Montserrat Bold
// @font-face {
//   font-family: Montserrat;
//   font-style: normal;
//   font-weight: 700;
//   font-display: swap;
//   src:
//     url("../assets/fonts/montserrat-v13-latin-700.woff2") format("woff2"),
//     url("../assets/fonts/montserrat-v13-latin-700.woff") format("woff");
// }
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap&subset=latin-ext");

html {
  font-size: $text-size;
}

body {
  font-family: Montserrat, sans-serif;
  line-height: $leading;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  color: $c-dark-grey;
}

p {
  margin: 0;
}

.os-numbs {
  font-variant-numeric: oldstyle-nums;
}

.big-text {
  font-size: map-get($ms, 1);
}

.title {
  font-size: map-get($ms, 3);
  line-height: 0.95;
  font-weight: 700;

  &--headline {
    line-height: 1.1;
    margin: 0;
    font-size: 9.5vw;
    position: relative;
    padding-bottom: rythm-units(3);
    margin-bottom: rythm-units(2);

    &::before {
      @include pseudo;

      border-radius: 100%;
      height: 200vw;
      width: 200vw;
      background-color: #fff;
      bottom: 0;
      left: 40%;
      transform: translateX(-50%);
      z-index: -1;
      border: 10px solid $c-green;
    }
  }
}
