// Montserrat Regular
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../assets/fonts/montserrat-v13-latin-regular.woff2") format("woff2"),
    url("../assets/fonts/montserrat-v13-latin-regular.woff") format("woff");
}

// Montserrat Medium
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url("../assets/fonts/montserrat-v13-latin-500.woff2") format("woff2"),
    url("../assets/fonts/montserrat-v13-latin-500.woff") format("woff");
}

// Montserrat Semi-Bold
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url("../assets/fonts/montserrat-v13-latin-600.woff2") format("woff2"),
    url("../assets/fonts/montserrat-v13-latin-600.woff") format("woff");
}

// Montserrat Bold
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../assets/fonts/montserrat-v13-latin-700.woff2") format("woff2"),
    url("../assets/fonts/montserrat-v13-latin-700.woff") format("woff");
}

html {
  font-size: $text-size;
}

body {
  font-family: Montserrat, sans-serif;
  line-height: $leading;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}
