$c-green: #9bffe7;
$c-green-bright: #5effd8;
$c-light-grey: #f2f2f2;
$c-middle-grey: #c4c4c4;
$c-dark-grey: #383838;

$size-text: 18px;
$leading: 1.56;
$unit-value: $size-text * $leading;

@function rythmUnits($number) {
  @return $unit-value * $number;
}
